body {
    background-color: #1b2838 !important;
}

h2 {
    color: #ffffff;
}

.carousel-inner img {
    max-height: 700px;
}

header .container a {
    color: #ffffff !important;
}

.navbar-custom {
    background-color: #171a21 !important; /* Defina a cor desejada para o cabeçalho */
}

header .navbar-toggler {
    background-color: #ffffff;        
}

.navbar-nav .nav-link {
    width: 120px; /* Defina o tamanho desejado para os botões */
    text-align: center; /* Centralize o texto dentro do botão */
    color: #ffffff !important;
    background-color: #2a475e;
    margin: 6px;
    border-radius: 4px;
}

.row .card {
    background-color: #c7d5e0;
}